/* Dashboard */
.whole-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #EFE5CB;
  overflow: hidden;
}

.Logo-Admin{
  height: 10%;
  border-radius: 50%;
}

.side-bar {
  flex-shrink: 0;
  display: inline-block;
  align-items: center;
  padding: 20px;
  width: 110px;
  height: 97vh;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #EFCA6C;
  border-radius: 8px;
}

.part{
  max-width: 100vw;
}

.nav-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  margin-top: 5px;
  padding: 10px;
  width: 86rem;
  height: 10vh;
  background-color: #EFCA6C;
  border-radius: 8px;
  margin-left: 23px;
  margin-top: 12px;
}

.main-content-dashboard {
  flex: 1;
  height: 100vh;
  padding-left: 1.6%;
  overflow-y: auto;
  background-color: #0077FF;
  
}

.notif-position{
 width: 80%;
 position: relative;
 margin-top: 5px;
}

.overview-container {
  flex: 1;
  width: 100%;
  height: 84vh;
  padding: 20px;
  background-color: #dfdfdf;
  border-radius: 8px;
  margin-top: 1px;
  overflow-y: hidden;
  scrollbar-width: none; 
  scrollbar-color: #EFCA6C #ffffff
}
.overview-container::-webkit-scrollbar { 
  width: 0; 
  height: 0; 
  display: none; 
} 
.overview-container:hover {
  scrollbar-width: thin; 
  overflow-y: auto;
}

.outer-box{
  position: absolute;
  justify-content: center;
  background-color: #DCEEF7;
  width: 83rem;
  height: 55px;
  margin-left: 1px;
  border-radius: 5px;
}
.notif-box{
  justify-content: center;
  background-color:  #0077FF;
  width: 12px;
  height: 55px;
  margin-left: 1px;
  border-radius: 5px;
}
.notif{
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 1.1em;
  font-family: 'Segoe UI';
  color: #0077FF;
}
.new-order-text{
  color: #0077FF;
  font-weight: 700;
}


.summary-cards {
  display: flex;
  gap: 10px;
  margin-top: 80px;
}

.total-sales-today,
.total-orders-today,
.peak-sales-hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #FFF9E5;
  border-radius: 10px;
  width: 22%;
  height: 80px;
  text-align: center;
  line-height: 2px;
  padding-top: 20px;
}

.total-sales-text, 
.total-orders-text, 
.peak-sales-text{
  font-size: 13px;
  font-weight: 700;
}

.LineChart{
  background-color: white;
  border-radius: 6px;
}