.customer.nav{
  background-color: #EFCA6C;
  height: 6rem;
}

.Logo{
  height: 80px;
  border-radius: 60px;
  margin-left: 50px;
  margin-top: 7px;
}


.account-navbar {
  background-color: #EFCA6C;
  padding: 5px 2rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 73%;
  margin-top: -55px;
  font-size: 1rem;
  gap: 20px;
  
}

.link-text{
  color: black;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
}

.icon-item {
  margin-top: 8px;
}

.account-wrapper {
  display: flex;
  flex: 1;
=======
.Nav-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  margin-top: 80px;
}

.customer-account{
  display: inline-block;
}

.sidebar {
  width: 300px;
  background-color: #f0f0f0; 
  padding: 30px;
  border-right: 1px solid #ccc;
}

.profile-pic {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.photo-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  cursor: pointer;
  border: 1px solid #333;
  color: red;
  border-color: red;
  background-color: rgb(255, 255, 255);
}

.btn.remove {
  color: red;
  border-color: red;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.sidebar-menu li {
  padding: 1rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem; 

}

.sidebar-menu li.active,
.sidebar-menu li:hover {
  background-color: #EFCA6C;
  font-weight: 500;
}

.sidebar-menu li a { 
  text-decoration: none; 
  color: black;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}

.account {
  flex: 1;
  padding: 20px;
  background-color: #e9e9e9;
}

.account h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.form-group label {
  width: 150px;
  font-weight: bold;
}

.form-group input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.edit-btn {
  padding: 0.5rem 1rem;
  background-color: rgb(213, 201, 201);
  border: 1px solid #333;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #caaf5e;
  border-color: #000;
}

