/* LOGIN STYLE */
.signup-page{
    background-color: #ECECEC;
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #e9c56a, rgba(79, 79, 57, 0.548));
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  
  .logo-row {
    margin-bottom: 2%;
    margin-top: -3%;
    
  }
  
  .customer-logo {
    border-radius: 100%;
    height: 120px;
   
  }
  
  
  .Customer-Signup{
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  width: 700px;
  padding: 3%;
  padding-bottom: 2%;
  border-radius: 40px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  }
  
  .link{
    text-decoration: none;
  }
  
  .Login-Text {
    font-family: 'Segoe UI', sans-serif;
    font-size: 44px;
    font-weight: 400;
    margin-top: 3%;
    margin-bottom: 5%;
  }
  
  
  .email, .password {
    font-family: 'Segoe UI', sans-serif;
    padding-left: 10px;
    border-radius: 9px;
    border: solid 1px rgb(194, 193, 193);
    outline: none;
    font-size: 21px;
    height: 60px;
    width: 100%;
    max-width: 460px;
    padding: 12px;
    margin-bottom: 18px;
  }
  
  .email::placeholder,
  .password::placeholder {
    color: rgb(179, 179, 179);
  }
  
  
  .password-wrapper {
    position: relative;
    width: 90%;
    max-width: 500px;
  }
  
  
  .eye-icon1 {
    position: absolute;
    right: 50px;
    top: 17%;
    left: 86%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #888;
  }
  
  .eye-icon2 {
    position: absolute;
    right: 50px;
    top: 67%;
    left: 86%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #888;
  }
  
  
  .btn-Signup {
    width: 455px;
    max-width: 100%;
    height: 50px;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 9px;
    display: block;
    cursor: pointer;
    background-color: #EFCA6C;
    border: none;
    margin-top: 20px;
  }

  
  .account-login{
    color: #eab701;
    text-decoration: none;
    font-weight: 600;
  }

.customer-login {
  margin-left: 10px;
  margin-top: -50px;
  }
