.account-container {
  height: 100%;
  overflow: hidden;
}

/* NAVBAR  */
.customer-nav{
  background-color: #EFCA6C;
  height: 6rem;
}

.Logo{
  height: 80px;
  border-radius: 60px;
  margin-left: 30px;
  margin-top: 9px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 75%;
  margin-top: -50px;
  font-size: 1rem;
  gap: 20px;
}

.link-text{
  color: black;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.icon-item {
  margin-top: -3px;
}


/* SIDEBAR */
.account-sidebar {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #ffffff; 
  padding: 30px;
  border-right: 1px solid #ccc;
  height: calc(100vh - 6rem);
}

.profile-pic {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.photo-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.btn svg {
  vertical-align: middle;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  cursor: pointer;
  border: 1px solid #333;
  color: red;
  border-color: red;
  background-color: rgb(255, 255, 255);
}

.btn.change {
  color: #4343e7;
  border-color: #4343e7;
}

.btn.remove {
  color: red;
  border-color: red;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.sidebar-menu li {
  padding: 1rem;

  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem; 

}

.sidebar-menu li.active,
.sidebar-menu li:hover {
  background-color: #EFCA6C;
  font-weight: 500;
}

.sidebar-menu li a { 
  text-decoration: none; 
  color: black;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 2rem; 
}

/* MAIN*/
.orderhistory-setting {
  flex: 1;
  padding: 30px;
  background-color: #ECECEC;
}

.orderhistory-setting h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color: #333;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.order-table th, .order-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #BFBFBF;
  vertical-align: middle;
  text-align: center;
}

.order-table th {
  background-color: #f5f5f5;
  font-weight: bold;
  font-size: 16px;
}

.status-completed {
  color: #28a745;
}