.main-content-Online-orders{
  flex: 1;
  height: 84vh;
  padding-left: 1.6%;
  margin-top: 25px;
}

.OnineOrders-text{
  font-family: Segoe UI;
  margin-left: 12px;
  margin-top: 10px;
}


.overview-container-online {
  flex: 1;
  width: 100%;
  height: 86.6vh;
  padding: 20px;
  border-radius: 8px;
  margin-top: 1px;
  
}



.Online-orders-table {
  /* margin-top: px;  */
  margin-left: 3px;
  background: #faf9f7;
  height: 96%;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  width: 99.2%;
  margin-top: -10px;
  border-radius: 7px;
  overflow-y: auto;
  scrollbar-width: none; 
  scrollbar-color: #EFCA6C #ffffff;
}

.search-text {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #333;
  display: inline-block;
  margin-top: 16px;
}
.search-online-order{
  border-width: thin;
  border-radius: 6px;
  padding-left: 7px;
  margin-left: 4px;
}
.search-online-order:focus{
  outline: none;
}

.recent-orders-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border: 1px solid #A4A0A0;
  
}


.recent-orders-table thead th {
  background-color: #b3b3b3;
  color: #fff;
  padding: 14px 12px;
  text-align: left;
  font-weight: 600;
}
.recent-orders-table thead th,
.recent-orders-table tbody td{
  border: 1px solid #A4A0A0;
}


.recent-orders-table th:first-child {
  border-top-left-radius: 0px;
}

.recent-orders-table th:last-child {
  border-top-right-radius: 0px;
}

.recent-orders-table td {
  padding: 14px 12px;
  border-bottom: 1px solid #eee;
  color: #333;
  font-size: 15px;
}
.recent-orders-table tr:last-child td {
  border-bottom: none;
}

.centered-row{
  text-align: center;
}



/* status update and view order modals */
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Status update */
.modal-content{
  background: #fff;
  padding: 50px 32px;
  border-radius: 12px;
  max-width: 300px;
  text-align: center;
  font-weight: 500;
}

.update-status-text{
  margin-top: -25px;
}

.order-details-btn{
  background-color: #FFE95D;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 3px;
  width: 105px;
}

.status{
  border-radius: 3px;
  border: none;
  width: 80px;
  background: transparent;
}


.modal-status-options {
  list-style: none;
  padding-bottom: 0;
  margin: 20px 0;
}

.modal-status-options li {
  padding: 12px;
  cursor: pointer;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.modal-status-options li:hover {
  background-color: #e9564e;
}

.close-modal {
  background-color: #e74c3c;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


/* view order details */
.order-detail-text{
  font-weight: 700;
  margin-top: -27px;
}

.view-order-modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-order-modal-content{
  background: #fff;
  padding: 50px 32px;
  border-radius: 12px;
  width: 755px;
  height: 500px;
  font-weight: 500;
}
.close-order-detail{
  position: absolute;
  margin-left: 686px;
  font-weight: 700;
  color: #000000;
  margin-top: -64px;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
}


/* order details */
.order-summary{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10px;
}

.Ordered-dish{
  display: grid;
  grid-template-columns: 5px 1fr 116px;
  font-size: 1.4em;
  font-weight: 400;
  gap: 40px;
  align-items: center;
}

.Line-price{
  margin-top: 80px;
  width: 20.5em;
  margin-left: -15px;
}

.price-text{
  padding-right: 210px;
}

.total-price{
  font-size: 1.4em;
}

.add-details{
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-top: 60px;
  text-align: center;
  font-size: 1em;
  margin-left: -20px;
}
.address-customer{
  border: 1px solid ;
  border-radius: 30px;
  height: 30px;
  width: 180px;
}
.customer-phone-number{
  border: 1px solid ;
  border-radius: 30px;
  height: 30px;
  width: 180px;
}
.gcash{
  height: 25em;
}

.left{
  flex: 1;
}
.right{
  flex-shrink: 0; 
}






.online-orders-pagination{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 2em;
  gap: 1px;
  margin-left: 90%;
}
.pagination-item{
  padding: 4px;
  margin-top: 3px;
  
}
.page{
  background-color: #FFE95D;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  height: 25px;
  width: 30px;
  border: 1px solid rgb(214, 210, 210);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding-bottom: 6.5px;
  border-radius: 4px;
}




